{{ 'curated-brands.css' | asset_url | stylesheet_tag }}
<section class="curated_products_ctr">
  <ul class="curated_product_images">
    {% for brand in section.settings.brands %}
      <li class="curated_product_item">
        <img src="{{ brand.image | image_url: width: 400, height: 400 }}" 
          alt="lalalala"
          width="400"
          height="400"
        />
      </li>
    {% endfor %}
  </ul>
  <div class="curated_product_names_box">
    <div class="curated_product_names_wrapper">
      <span class="curated_product_names_text">CURATED BRANDS</span>
      <ul class="curated_product_names">
        {% for brand in section.settings.brands %}
          <li>
            <p class="curated_product_name">{{ brand.title }}</p>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</section>

<script>
  document.addEventListener("DOMContentLoaded", function() {
      const brandSection = document.querySelectorAll('.curated_product_item')
      const brandNames = document.querySelectorAll('.curated_product_name')
      brandSection.forEach((section, index) => {
        ScrollTrigger.create({
          trigger: section,
          start: "top center",
          end: "bottom center",
          markers: true,
          onToggle: (self) => {
            if (self.isActive) {
              brandNames.forEach(name => name.classList.remove('active'));
              brandNames[index].classList.add('active');
            }
          },
        });
      });
  });
</script>

{%  schema  %} 
{
  "name": "Curated Brands",
  "settings": [
    {
      "type": "collection_list",
      "id": "brands",
      "label": "Brands",
      "info": "Add brand images and names to showcase curated brands.",
      "limit": 6
      
    }
  ],
  "presets": [
    {
      "name": "Curated Brands"
    }
  ]
}
{% endschema %} 