<a href="{{ routes.root_url }}" class="logo">
  {{ shop.name }}
  {% if settings.logo != blank %}
    <img src="{{ settings.logo | image_url: width: 200 }}" alt="{{ shop.name }}" width="200" height="auto">
  {% endif %}
</a>
