.curated_product_ctr {
  padding: 40px 0;
  display: flex;
  flex-direction: column;
}

.curated_product_names_box {
  position: sticky;
  top: 50vh;
  left: 5vw;
  transform: translate(-50%, -50%);
}
