.curated_product_ctr {
  padding: 40px 0;
  display: flex;
  flex-direction: column;
}

.curated_product_names_box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: sticky;
  top: 30vh;
  z-index: 10;
  // margin-top: 40vh;
  .curated_product_names_text {
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 20px;
  }
  .curated_product_names {
    font-size: 46px;
    font-weight: 700;
    text-align: center;
    list-style-type: none;
    .curated_product_name {
      transition: color 0.3s ease;
      color: rgba($color: #000000, $alpha: 0.4);
      cursor: pointer;
      &.active {
        color: rgba($color: #000000, $alpha: 1);
      }
    }
  }
}

.curated_product_images {
  width: 100%;
  margin-top: 40px;
  li {
    img {
      width: 100%;
      height: auto;
      aspect-ratio: 16/9;
      object-fit: cover;
    }
  }
}
