.curated_products_ctr {
  // padding: 40px 0;
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  position: relative;
}

.curated_product_names_box {
  grid-row-end: 2;
  grid-row-start: 1;
  grid-column-end: 2;
  grid-column-start: 1;
  // margin-top: 40vh;
  .curated_product_names_wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    margin-top: 25dvh;
    margin-bottom: 25dvh;
    top: 25dvh;
    z-index: 10;
    .curated_product_names_text {
      font-size: 12px;
      font-weight: 500;
      text-align: center;
      margin-bottom: 20px;
      color: #fff;
    }
    .curated_product_names {
      font-size: 46px;
      font-weight: 700;
      text-align: center;
      list-style-type: none;
      .curated_product_name {
        transition: color 0.3s ease;
        color: rgba($color: #fff, $alpha: 0.4);
        cursor: pointer;
        &.active {
          color: rgba($color: #fff, $alpha: 1);
        }
      }
    }
    .curated_product_discover {
      display: flex;
      align-items: center;
      gap: 12px;
      color: #fff;
      font-weight: 500;
      font-size: 12px;
      margin-top: 32px;
    }
  }
}

.curated_product_images {
  width: 100%;
  grid-row-end: 2;
  grid-row-start: 1;
  grid-column-end: 2;
  grid-column-start: 1;
  overflow: hidden;
  li {
    width: 100%;
    height: 100dvh;
    img {
      width: 100%;
      height: 100%;
      // aspect-ratio: 16/9;
      object-fit: cover;
    }
  }
}
