.custom-main-collection-banner {
  .custom-main-collection-hero__inner {
    display: flex;
    flex-direction: column;
    .custom-collection-hero__image-container {
      width: 100%;
      max-height: 600px;
      overflow: hidden;
      img {
        width: 100%;
        height: auto;
      }
    }
    .custom-collection-hero__text-wrapper {
      width: 100%;
      padding: 0 20px;
      .collection-hero__title {
      }
    }
  }
}
