.custom-main-collection-product-grid {
  padding: 0 20px !important;
  .grid__item {
    .card__inner {
      aspect-ratio: 1 / 1;
    }
    .card__content {
      .card__heading {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 16px;
        font-weight: 700;
        color: #000;
      }
    }
  }
}
