.pepro_footer {
  .pepro_footer_top {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 40px 20px;
    .pepro_footer_top_item {
      .pepro_join_rewards {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 20px;
        p {
          font-size: 16px;
          font-weight: 700;
          color: #000;
          max-width: 220px;
          letter-spacing: normal;
          line-height: 20px;
        }
      }
      .pepro_join_rewards_description {
        font-size: 12px;
        color: #000;
        margin-bottom: 20px;
      }
      .pepro_join_rewards_list {
        margin-bottom: 32px;
        h3 {
          font-size: 16px;
          font-weight: 700;
          margin-bottom: 12px;
        }
        ul,
        ol {
          list-style: none;
          li {
            display: flex;
            align-items: center;
            gap: 8px;
            font-size: 12px;
            color: #000;
            margin-bottom: 8px;
            &:last-child {
              margin-bottom: 0;
            }
          }
        }
      }
      .pepro_join_and_get_bonus_points {
        display: flex;
        align-items: center;
        gap: 10px;
        font-weight: 500;
        font-size: 14px;
        color: #000;
        text-decoration: underline;
      }
      .pepro_more_information {
        h3 {
          font-size: 16px;
          font-weight: 500;
          margin-bottom: 12px;
        }
        ul,
        ol {
          list-style: none;
          margin-bottom: 20px;
          &:last-child {
            margin-bottom: 0;
          }
          li {
            display: flex;
            align-items: center;
            gap: 8px;
            font-size: 12px;
            color: #000;
            margin-bottom: 4px;
            &:last-child {
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
  .pepro_footer_bottom {
    background-color: #0247b1;
    padding: 20px;
    p {
      font-size: 14px;
      color: #fff;
    }
  }
}
