.pepro_footer .pepro_footer_top {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 40px 20px;
}
.pepro_footer .pepro_footer_top .pepro_footer_top_item .pepro_join_rewards {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}
.pepro_footer .pepro_footer_top .pepro_footer_top_item .pepro_join_rewards p {
  font-size: 16px;
  font-weight: 700;
  color: #000;
  max-width: 220px;
  letter-spacing: normal;
  line-height: 20px;
}
.pepro_footer .pepro_footer_top .pepro_footer_top_item .pepro_join_rewards_description {
  font-size: 12px;
  color: #000;
  margin-bottom: 20px;
}
.pepro_footer .pepro_footer_top .pepro_footer_top_item .pepro_join_rewards_list {
  margin-bottom: 32px;
}
.pepro_footer .pepro_footer_top .pepro_footer_top_item .pepro_join_rewards_list h3 {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 12px;
}
.pepro_footer .pepro_footer_top .pepro_footer_top_item .pepro_join_rewards_list ul,
.pepro_footer .pepro_footer_top .pepro_footer_top_item .pepro_join_rewards_list ol {
  list-style: none;
}
.pepro_footer .pepro_footer_top .pepro_footer_top_item .pepro_join_rewards_list ul li,
.pepro_footer .pepro_footer_top .pepro_footer_top_item .pepro_join_rewards_list ol li {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 12px;
  color: #000;
  margin-bottom: 8px;
}
.pepro_footer .pepro_footer_top .pepro_footer_top_item .pepro_join_rewards_list ul li:last-child,
.pepro_footer .pepro_footer_top .pepro_footer_top_item .pepro_join_rewards_list ol li:last-child {
  margin-bottom: 0;
}
.pepro_footer .pepro_footer_top .pepro_footer_top_item .pepro_join_and_get_bonus_points {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 500;
  font-size: 14px;
  color: #000;
  text-decoration: underline;
}
.pepro_footer .pepro_footer_top .pepro_footer_top_item .pepro_more_information h3 {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 12px;
}
.pepro_footer .pepro_footer_top .pepro_footer_top_item .pepro_more_information ul,
.pepro_footer .pepro_footer_top .pepro_footer_top_item .pepro_more_information ol {
  list-style: none;
  margin-bottom: 20px;
}
.pepro_footer .pepro_footer_top .pepro_footer_top_item .pepro_more_information ul:last-child,
.pepro_footer .pepro_footer_top .pepro_footer_top_item .pepro_more_information ol:last-child {
  margin-bottom: 0;
}
.pepro_footer .pepro_footer_top .pepro_footer_top_item .pepro_more_information ul li,
.pepro_footer .pepro_footer_top .pepro_footer_top_item .pepro_more_information ol li {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 12px;
  color: #000;
  margin-bottom: 4px;
}
.pepro_footer .pepro_footer_top .pepro_footer_top_item .pepro_more_information ul li:last-child,
.pepro_footer .pepro_footer_top .pepro_footer_top_item .pepro_more_information ol li:last-child {
  margin-bottom: 0;
}
.pepro_footer .pepro_footer_bottom {
  background-color: #0247b1;
  padding: 20px;
}
.pepro_footer .pepro_footer_bottom p {
  font-size: 14px;
  color: #fff;
}/*# sourceMappingURL=pepro-footer.css.map */